<div class="row">
  <div class="col-12 mb-4">
    <h2 class="m-0">Lookups</h2>
    <p class="text-secondary">Manage system-wide lookup data and configurations.</p>
  </div>
  
  <div class="col-12 col-md-4 col-lg-3">
    <p-card header="Mentors" subheader="Manage teaching staff" styleClass="h-100 shadow-sm border-0 lookup-card cursor-pointer" [routerLink]="['/lookup/mentors']">
      <ng-template pTemplate="header">
        <div class="d-flex justify-content-center p-4 bg-primary-subtle rounded-top text-primary">
          <i class="pi pi-users" style="font-size: 3rem"></i>
        </div>
      </ng-template>
      <p>Configure and manage the list of mentors available for assignment to classes.</p>
      <ng-template pTemplate="footer">
        <p-button label="Manage Mentors" icon="pi pi-chevron-right" iconPos="right" [text]="true" routerLink="/lookup/mentors"></p-button>
      </ng-template>
    </p-card>
  </div>
  
  <!-- Future lookup cards can be added here -->
</div>
