/* Layout styling */

:host ::ng-deep {
  .capsule-group {
    .p-button:first-child {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    .p-button:last-child {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}
