.stat-box { 
  background-color: #f1f5f9; 
  transition: background-color 0.2s;
}
:host-context(html.p-dark) .stat-box {
  background-color: #1e293b;
}

.stat-title { color: #64748b; }
.stat-value { color: #334155; }

:host-context(html.p-dark) .stat-title {
  color: #94a3b8;
}
:host-context(html.p-dark) .stat-value {
  color: #f8fafc;
}
